.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.li-text-left{
  text-align: left;
}

.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: whitesmoke ;
  color:floralwhite;
}

a{ text-decoration:none;
  color:black;
}

.top-buffer { margin-top:50px; }

.form-top-buffer { margin-top:15px; }

.btn-top{margin-top:15px;
  margin-bottom:50px;
  font-weight:bold;
}

.header-top{margin-top:50px;}

.dateInput{margin-top:20px;}
.projectButton{
  margin-bottom:10px;
  height:40px;
  width:80px;
  background-color: #ffffff;
color: #0a66c2;

}

/* .jumbotron{
  background-color: #73b5cf;
} */

/* .headerJumbotron {
  background-image: url( '/keyboard.jpg');
  /* background-size: cover; */
/* } */ 
.projectCard{
  background-color:  rgb(255, 255, 255);
  transition: box-shadow .6s;
}


.projectCard:hover {
  box-shadow: 0 0 20px rgba(33,33,33,.5); 
}
 
.chatbotCSS{
  margin: 0 0;
  /* display: flex; */
  /* justify-content: center; */
  background-color: rgb(255, 255, 255);
  position: fixed;
  height: 5rem;
  width:5rem;
  right: 5rem;
  bottom: 20px;
  z-index: 9999;
  box-shadow: 5px 5px 13px rgb(91 81 81 / 40%);
  border-radius: 50px;
}

.chatbotCSS:hover {
  box-shadow: 0 0 80px #0a66c2;
  background-color: rgb(255, 255, 255);
}
.botIcon{
  color:#0a66c2;
}

.headerText{
  color: black;
  background-color:rgb(245, 243, 236);
  font-size: 70px;
  border-radius: 2rem;
}

hr{
  width:30%;
  margin: auto;
}
.educationContainer{
  margin-top: 2rem;
}

li{
  font-size: 1.1rem;
}
.CardTextClass{
  font-size: 1.1rem;
}
.CardTitleClass, h2{
  color:#0a66c2;
}

.mainCard{
  border-radius: 30px 0px 30px 0px;
}

.projectImg{
  border-radius: 20px 20px 20px 20px;
}

.projectImg:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition-duration: 1s;
}